<!DOCTYPE html>
<html>
  <head>
    <title>UrlShortner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="prose mx-auto mt-28 px-5">
      <%= tag.p notice, class: "bg-yellow-100 text-yellow-900 p-4 rounded border-l-4 border-yellow-500" if notice %>
      <%= tag.p alert, class: "bg-red-100 text-red-900 p-4 rounded border-l-4 border-red-500" if alert %>
      <%= tag.p flash[:success], class: "bg-green-100 text-green-900 p-4 rounded border-l-4 border-green-500" if flash[:success] %>
      <%= yield %>
    </main>
  </body>
</html>
